body {
  background-color: rgb(47, 45, 45);


}

.main-header {
  display: flex;
  align-items: center;
  width: 100vw;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li a {
  text-decoration: none;
  padding: 0.1em 1em;
  font-size: 30px;
}

.main-nav li a:hover,
.active {
  color: rgb(144, 130, 130);
  text-shadow: 1em;
}
.logo {
  display: flex;
  width: 25vw;
  height: 90px;
  background-image: url('img/24-247033_icono-de-sushi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 143, 143);
  border-color: rgb(37, 36, 36);
}
.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  padding: 20px 30px;
  background: url("img/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  font-weight: 630;
}
.datosContacto {
  width: 50%;
  background-color: rgb(129, 118, 104);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}
.datosContacto img {
  width: 30%;
}
.menu {
  background-color: rgb(129, 118, 104);
  display: inline;
  margin: 0.1%;
  align-content: center;
  width: 33.1%;
  height: 250px;
  float: left;
  text-align: center;
}
.contactoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
} 

@media (max-width: 575px){
  * {
    font-size: 1em!important;
  }
}
@media (min-width:768px) {
  .logo{
    background-size: contain;
    background-color: whitesmoke;
    width: 10vw;
  }
}